header {
    background: #000;
    padding: 5px 20px;
}

.header-inner {
    display: grid;
    grid-template-columns: 300px 1fr auto;
    align-items: center;
    column-gap: 40px;
}

h1 {
    color: white;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 40px;
}

nav {
    display: flex;
    align-items: center;
    gap:  25px;
    justify-self: end;
    white-space: nowrap;
}

.logout-form {
    margin: 0;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.serch-box {
    display: flex;
    justify-self: center;
}

.serch-box input {
    width: 360px;
    height: 35px;
}

.item img {
    width: 100%;
    max-width: 260px;
    height: 260px;
    object-fit: cover;
}
.item p {
    margin-top: 10px;
    font-size: 24px;
}

.item {
    width: 260px;
}

.item img {
    width: 220px !important;
    height: 220px !important;
    object-fit: cover;
}

.item {
    width: 220px !important;
}

.item-list {
    gap: 20px !important;
}

h1 img {
    width: 250px;
}